{
	http_port {$CLIENT_HTTP_PORT}
	https_port {$CLIENT_HTTPS_PORT}
	servers {
		listener_wrappers {
			http_redirect
			tls
		}
	}
}

http://{$PUBLIC_HOST} {
	@health path /healthz
	respond @health "ok" 200
	redir {$PUBLIC_URL}{uri} permanent
}

{$PUBLIC_HOST} {
	encode zstd gzip

	@health path /healthz
	respond @health "ok" 200

	@backend path /api* /auth/* /ws
	handle @backend {
		reverse_proxy server:3000
	}

	handle {
		header {
			Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0"
		}
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
